{% extends "base.html" %}
{% block content %}
    {% for object in object_list %}
        <article class="media content-section">
            <img class="img-thumbnail recipe-img" src="{{ object.recipe_image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'recipe-detail' object.id %}">{{ object.name }}</a>
              <small class="text-muted">{{ object.type}}- {{ object.category }} -{{ object.prep_time }} mins</small>
            </div>
            <p class="article-content">{{ object.description }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}