{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <H1> {{ user.first_name }} {{ user.last_name }}</H1>

    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    <form method="POST" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        {{ m_form|crispy }}
        <button type="submit" class="btn btn-success">Update</button>
    </form>

{% endblock %}